.header {
    overflow: hidden;
    background-color: cadetblue;
    padding: 16.5px;
    background: linear-gradient(145deg, #0f3672, #5fb7ff);
}

.header-right {
    float: right;
    cursor: pointer;
    padding: 2px 12px;
    padding-top: 8px;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
}

.user-tab {
    color: white;
}

.header-right:hover {
    background-color: #00000017;
}


.logout-body{
    position: absolute;
    right: 34px;
    top: 60px;
    z-index: 9999;
}
.overlay-logout{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9998;
}
.card{
    background-color: whitesmoke;
}